body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #0f1f66, #1753a6, #2ba2d9, #35e6f0);
  background-size: 400% 400%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
  color: #d9e6fc;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;
}

header {
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
}

button {
  padding: 0px 10px;
  height: 96.5%;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border: none;
}

pre {
  white-space: pre-wrap;
}

#root {
  width: 100%;
  height: 100%;
  text-align: center;
}

.navbar {
  margin-bottom: 50px;
  padding: 30px;
  background-color: #01030c7c;
  box-shadow: 0px 10px 40px #01030c7c;
}

#slideshow {
  position: relative;
  width: 600px;
  height: 350px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

#slideshow > div {
  margin: 20px;
}

#slide-div {
  position: relative;
  width: 600px;
  height: 350px;
}

.img-class {
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

.prev, .next {
  position: absolute;
  /* top: 50%; */
  /* margin-top: -22px; */
  transition: 0.3s;
}

.prev:hover {
  background: linear-gradient(90deg, rgba(7,15,47,1) 0%, rgba(19,40,134,1) 50%, rgba(15,31,102,0) 100%);
}

.next:hover {
  background: linear-gradient(90deg, rgba(15,31,102,0) 0%, rgba(19,40,134,1) 50%, rgba(7,15,47,1) 100%);
}

.prev {
  border-radius: 5px 0px 0px 5px;
  left: 0;
  background: linear-gradient(90deg, rgba(15,31,102,0.8) 0%, rgba(0,0,0,0) 100%);
}

.next {
  border-radius: 0px 5px 5px 0px;
  right: 0;
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(15,31,102,0.8) 100%);
}

.dots {
  display: inline;
  position: absolute;
  top: 75%;
  font-size: 30px;
  letter-spacing: 0.2em;
}

.dots > div {
  display: inline;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  background-color: #01030c7c;
  box-shadow: 0px -20px 40px #01030c7c;
  font-style: italic;
  font-weight: 600;
}

@-webkit-keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@-moz-keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@media (max-width: 768px) {
  button {
    padding: 8px 5px;
    font-size: 14px;
    height: 175px;
  }

  #slideshow {
    width: 300px;
    height: 175px;
  }

  #slideshow > div {
    font-size: 14px;
  }

  #slide-div {
    width: 300px;
    height: 175px;
  }
}
