body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #0f1f66, #1753a6, #2ba2d9, #35e6f0);
  background-size: 400% 400%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
  color: #d9e6fc;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;
}

header {
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
}

button {
  padding: 0px 10px;
  height: 96.5%;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border: none;
}

pre {
  white-space: pre-wrap;
}

#root {
  width: 100%;
  height: 100%;
  text-align: center;
}

.navbar {
  margin-bottom: 50px;
  padding: 30px;
  background-color: #01030c7c;
  box-shadow: 0px 10px 40px #01030c7c;
}

.slide-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#slideshow {
  position: relative;
  width: 600px;
  height: 500px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

#slideshow > div {
  margin: 20px;
}

#slide-div {
  position: relative;
  width: 600px;
  height: 350px;
}

.img-container {
  width: 100%;
  height: 100%;
  min-width: 500px;

  position: relative;

  overflow: hidden;
}

.img-class {
  width: 400px;
  height: 220px;
  position: absolute;

  border-radius: 10px;

  transition: 100ms left linear, 150ms transform linear;
}

.prev,
.next {
  position: absolute;
  /* top: 50%; */
  /* margin-top: -22px; */
  transition: 0.3s;
  background-color: transparent;

  z-index: 10;
}

.prev:hover,
.next:hover {
  background-color: rgba(37, 37, 255, 0.24);
}

.prev:focus,
.next:focus {
  outline: none;
}

.prev {
  border-radius: 5px 0px 0px 5px;
  left: 0;
}

.next {
  border-radius: 0px 5px 5px 0px;
  right: 0;
}

.dots {
  display: inline;
  position: absolute;
  top: 75%;
  font-size: 30px;
  letter-spacing: 0.2em;
}

.dots > div {
  display: inline;
}

#other {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc {
  width: 50%;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  background-color: #01030c7c;
  box-shadow: 0px -20px 40px #01030c7c;
  font-style: italic;
  font-weight: 600;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 768px) {
  button {
    padding: 8px 5px;
    font-size: 14px;
    height: 175px;
  }

  #slideshow {
    width: 300px;
    height: 175px;
  }

  #slideshow > div {
    font-size: 14px;
  }

  #slide-div {
    width: 300px;
    height: 175px;
  }
}
